*.sof
.metadata
db
output_files
freeRTOS_A1
software/freeRTOS_A1_bsp
!software/freeRTOS_A1
software/freeRTOS_A1/.cproject
software/freeRTOS_A1/.project
software/freeRTOS_A1/create-this-app
software/freeRTOS_A1/freeRTOS_A1.elf
software/freeRTOS_A1/freeRTOS_A1.map
software/freeRTOS_A1/freeRTOS_A1.objdump
software/freeRTOS_A1/Makefile
software/freeRTOS_A1/obj
!software/freeRTOS_A1/*.c
!software/freeRTOS_A1/readme.txt
!.gitignore
